<config>
    <input>
        <jar in="test.jar" out="obf-test.jar"/>
    </input>

    <classpath>
        <jar name="mousegestures-1.2.jar"/>
    </classpath>

    <keep-names>
        <class template="class *.TestFrame"/>
    </keep-names>

    <property name="log-file" value="log.xml"/>
</config>
